project:
  type: website
  # resources:
  #   - cv_copy.pdf

website:
  title: "Mizuki Shitomi"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: projects.qmd
      - href: about.qmd
        text: About
  page-footer:
    right: "&copy; Mizuki Shitomi"

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

execute: 
  freeze: auto

