project:
  type: website
  resources:
    - cv_copy.pdf

website:
  title: "personal website"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
  page-footer:
    right:"&copy; Mizuki Shitomi"

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



